<template>
  <div>
    <h1>Items Id</h1>
    <ul>
      <li>id: {{item.id}}</li>
      <li>name: {{item.name}}</li>
      <li>price: {{item.price}}</li>
      <li>description: {{item.description}}</li>
    </ul>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      item: {}
    };
  },
  asyncData: async function(context) {
    const response = await context.$axios.$get(
      `http://localhost:3001/items/${context.params.id}`
    );
    return { item: response };
  }
};
</script>