<template>
  <div>
    <v-navigation-drawer app v-model="drawer" absolute bottom temporary>
      <v-list nav dense>
        <v-list-item-group>
          <v-list-item @click="route('/')">
            <v-list-item-title>HOME</v-list-item-title>
          </v-list-item>
          <v-list-item @click="route('/items')">
            <v-list-item-title>ITEMS</v-list-item-title>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar app dark color="primary">
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>Item Management System</v-toolbar-title>
    </v-toolbar>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      drawer: false
    };
  },
  methods: {
    route(url) {
      this.$router.push(url);
    }
  }
};
</script>