<template>
  <div>
    <h1>Items</h1>
    <table border="1">
      <thead>
        <tr>
          <th>id</th>
          <th>name</th>
          <th>price</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in items" :key="item.id">
          <td>{{item.id}}</td>
          <td>
            <nuxt-link :to="'/items/' + item.id">{{item.name}}</nuxt-link>
          </td>
          <td>{{item.price}}</td>
        </tr>
      </tbody>
    </table>
    <button>
      <nuxt-link to="/items/new">Add Item</nuxt-link>
    </button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: []
    };
  },
  async asyncData({ $axios }) {
    const response = await $axios.$get("http://localhost:3001/items");
    return { items: response };
  }
};
</script>