<template>
  <v-data-table :headers="headers" :items="items" class="elevation-1">
    <template v-slot:top>
      <v-toolbar flat color="white">
        <v-toolbar-title>ITEMS CRUD</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="500px">
          <template v-slot:activator="{ on, attrs }">
            <v-btn color="primary" dark class="mb-2" v-bind="attrs" v-on="on">New Item</v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field v-model="dialogItem.name" label="Name"></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field v-model="dialogItem.price" label="Price"></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field v-model="dialogItem.description" label="Description"></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
              <v-btn color="blue darken-1" text @click="save">{{formSaveTitle}}</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon small class="mr-2" @click="editItem(item)">mdi-pencil</v-icon>
      <v-icon small @click="deleteItem(item)">mdi-delete</v-icon>
    </template>
  </v-data-table>
</template>

<script>
export default {
  data: () => ({
    headers: [
      {
        text: "Id",
        align: "start",
        sortable: false,
        value: "id"
      },
      { text: "Name", value: "name", sortable: false },
      { text: "Price", value: "price", sortable: false },
      {
        text: "Description",
        value: "description",
        width: "500px",
        sortable: false
      },
      { text: "Actions", align: "center", value: "actions", sortable: false }
    ],
    items: [],
    dialog: false,
    editItemIndex: null,
    dialogItem: {
      name: "",
      price: 0,
      description: ""
    },
    dialogItemDefault: {
      name: "",
      price: 0,
      description: ""
    }
  }),

  created() {
    this.fetchItems();
  },
  computed: {
    formTitle() {
      return this.editItemIndex != null ? "EDIT ITEM" : "ADD NEW ITEM";
    },
    formSaveTitle() {
      return this.editItemIndex != null ? "Update" : "Add new";
    }
  },

  methods: {
    // reset dialog data whenever form is submitted or closed
    resetDialogForm() {
      this.dialogItem = Object.assign({}, this.dialogItemDefault);
    },
    // reset editItemIndex
    resetEditItemIndex() {
      this.editItemIndex = null;
    },
    // actions when press item edit button
    editItem(item) {
      this.editItemIndex = item.id;
      this.dialogItem = Object.assign({}, item);
      this.dialog = true;
    },
    // close dialog
    close() {
      this.dialog = false;
      this.resetDialogForm();
      this.resetEditItemIndex();
    },
    // actions when press save button at dialog
    save() {
      if (this.editItemIndex != null) {
        this.updateItem(this.dialogItem, this.editItemIndex);
      } else {
        // add item
        this.addItem(this.dialogItem);
      }
      // refetch items data to table
      this.fetchItems();
      // close dialog
      this.close();
    },

    // fetch items and set data to table
    async fetchItems() {
      const response = await this.$axios.$get("http://localhost:3001/items");
      this.items = response;
    },
    // add new item with post
    addItem(item) {
      this.$axios.$post("http://localhost:3001/items", item);
    },
    // update new item with put
    updateItem(item, index) {
      this.$axios.$put(`http://localhost:3001/items/${index}`, item);
    },
    // delete Item
    deleteItem(item) {
      confirm("Are you sure you want to delete this item?") &&
        this.$axios.$delete(`http://localhost:3001/items/${item.id}`);
      this.fetchItems();
    }
  }
};
</script>